@charset "utf-8";
body {
  width: 100%;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  height: auto;
}

section h2 {
  text-align: center;
  margin-bottom: 65px;
}

/*--------------------header--------------------*/

header {
  max-width: 960px;
  height: 270px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 4%; 
}

header h1 {
  font-weight: normal;
  font-size: 1.8em;
}

.header_box {
  display: flex;
  align-items: center;
}

.header_box li img {
  padding-top: 3px;
  width: 20px;
}

nav ul {
  display: flex;
}

nav li {
    list-style: none;
    max-width: 300px;
    padding: 5px 15px;
    margin: 0 5px;
}

.insta {
  background: none;
}

/*--------------------mainvisual--------------------*/

.main_visual img {
  width: 100%;
  max-width: 1920px;
  height: 420px;
  object-fit: cover;
  margin-bottom: 80px;
}

/*--------------------about--------------------*/

.about_box {
  max-width: 960px;
  font-size: 0.9rem;
  padding: 0 4%;
  margin: 0 auto 130px;
}

.ashley {
  margin-bottom: 30px;
}

.address {
  padding-bottom: 20px;
}

/*--------------------works--------------------*/

.works_box {
  max-width: 960px;
  margin: 0 auto 130px;
}

.works_picture {
  padding: 0 4%; 
  row-gap: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.works_picture span {
  width: 31%;
}

/*--------------------news--------------------*/

.news_box {
  max-width: 960px;
  padding: 0 4%;
  margin: 0 auto 130px;
}

.news_txt {
  padding: 15px;
  display: flex;
  border-bottom: 0.5px solid rgb(199, 199, 199);
  font-size: 0.9rem;
  color: rgb(41, 40, 40)
}

.news_txt:first-child {
  border-top: 0.5px solid rgb(199, 199, 199); 
}

.news_txt dt {
  width: 15%;
}

.news_txt dd {
  width: 85%;
}

/*--------------------contact--------------------*/
.contact_box {
  max-width: 960px;
  margin: 0 auto;
}

table {
  width: 100%;
  padding: 0 4%;
}

.contact_box th {
  width: 15%;
  text-align: left;
  vertical-align: top;
  font-weight: normal;
}

.contact_box td {
  width: 85%;
  padding-bottom: 5px;
}

#name, #email, #message {
  width: 95%;
  padding: 2%;
}

.contact_box input, textarea {
    border: 1px solid rgb(199, 199, 199);
}

.btn {
  width: 100%;
  text-align: center;
}

.btn input {
  width: 200px;
  padding: 15px;
  background: #000;
  color: #fff;
  margin-bottom: 100px;
  transition: .4s cubic-bezier(0.5, 1, 0.89, 1);
}

.btn input:hover {
  background: orangered;
  transform: scale(1.1);
}

/*--------------------footer--------------------*/

footer {
  text-align: center;
  color: #fff;
  background-color: #000;
  font-size: 0.5em;
  padding: 2px;
}

/*--------------------レスポンシブ--------------------*/

@media(min-width: 768px) {
  a[href^="tel:000-0000-0000"]{
    pointer-events: none;
    text-decoration: none;
  }
}

@media(max-width: 600px) {
  .works_box, .news_box, .about_box {
    margin-bottom: 130px;
  }
  section h2 {
    margin-bottom: 40px;
  }
   header {
    flex-direction: column;
    height: 95px;
  }
  header h1 {
    text-align: center;
    margin: 0 auto;
    padding-top: 5px;
  }
  .header_box {
    justify-content: center;
  }
  nav ul {
    padding: 0;
  }
  nav li {
    font-size: 0.8em;
  }
  .header_box li img {
    padding: 0;
  }
  .works_picture {
    display: block;
  }
  .works_picture img {
    margin: 10px auto;
  }
  .news_txt {
    display: block;
  }
  .news_txt dd {
    width: 100%;
    margin: 0;
  }
  .contact_box tr {
    display: flex;
    flex-direction: column;
  }
  .contact_box td, #name, #email, #message {
    width: 100%;
  }
  .btn input {
    margin-bottom: 50px;
  }
}
/*--------------------応用--------------------*/

nav li {
    padding: 5px 15px;
    font-size: 0.9em;
    color: #fff;
    background: #000;
    border: 1px solid #fff;
}

@media(max-width: 600px) {
  nav li {
    font-size: 0.8em;
  }
  .main_visual img {
    margin-top: 20px;
  }
}

/*--------------------①スライドショー--------------------*/

.img-frame{
   position: relative;
   width: 100%;
   max-width: 1920px;
   height: 420px;
   overflow: hidden;
   margin: 0 auto;
   margin-bottom: 80px;
}

.img-01, .img-02, .img-03{
   position: absolute;
   top:0;
   left:0;
   width: 100%;
   height: 100%;
   background-size: cover;
   background-repeat: no-repeat;
}
.img-01{
   background-image: url('../img/slide_01.jpg');
   animation: slide-animation-01 20s infinite;
}
.img-02{
   background-image: url('../img/slide_02.png');
   animation: slide-animation-02 20s infinite;
}
.img-03{
   background-image: url('../img/slide_03.png');
   animation: slide-animation-03 20s infinite;
}
@keyframes slide-animation-01 {
    0% {opacity: 1; transform: scale(1.0);}
  30% {opacity: 1;}
  40% {opacity: 0; transform: scale(1.15);}
  90% {opacity: 0}
100% {opacity: 1; transform: scale(1.0);}
}
@keyframes slide-animation-02 {
    0% {opacity: 0;}
  30% {opacity: 0; transform: scale(1.1);}
  40% {opacity: 1;}
  60% {opacity: 1;}
  70% {opacity: 0; transform: scale(1.0);}
100% {opacity: 0;}
}
@keyframes slide-animation-03 {
    0% {opacity: 0;}
  60% {opacity: 0;  transform: scale(1.0);}
  70% {opacity: 1;}
  90% {opacity: 1;}
100% {opacity: 0; transform: scale(1.1);}
}

/*--------------------②フェードイン--------------------*/

.text_wrap {
  width: 100%;
}

/*--------------------01-文字が浮かび上がるpart1--------------------*/

/*最初はopacity:0で透明にしており、アニメーションと@keyframesで0.1秒ごとに一文字づづ表示*/

.txt {
opacity:0;
transform:translateY(40px);
animation:fadeUp 2s ease forwards;
}

@keyframes fadeUp{
to{
opacity:1;
transform:translateY(0);
}
}
/*--------------------02-文字が浮かび上がるpart2--------------------*/
/*overflow: hiddenでテキストを隠し、@keyflamesでアニメーション終了時にwidth: 100%で全体を表示*/

.text_second {
  white-space:nowrap;
  overflow:hidden;
  animation:text_second 6s linear 1;
}

@keyframes text_second {
  from {
    width:0%;
  }
  to {
    width:100%;
  }
}

/*--------------------03-左から右に流れてくる--------------------*/
.text_third {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

.text_third dd {
  display: inline-block;
  padding-left: 100%;
  animation: text_third-animation 10s linear infinite;
}

@keyframes text_third-animation {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}
/*--------------------04-透明の状態から浮かび上がる--------------------*/
.text_fourth dd {
  color: #fff;
  text-transform: uppercase;
  animation: textShadow 6s infinite;
  width: 100%;
}

@keyframes textShadow {
    0% {
        text-shadow: none;
    }

50% {
    text-shadow: 2px 2px 5px #000,
        -2px -2px 5px #2e2626;
}
}

/*--------------------05-スクロールに合わせて文字が下から出てくる--------------------*/

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(2rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.text_fifth {
  animation: fadeIn linear;
  animation-timeline: view();
  animation-range: entry 0% cover 50%;
}

/*--------------------③マウスホバー--------------------*/

/*--------------------about_hover--------------------*/

.about_btn:hover {
  transform: translateY(2px);
  transition: .3s;
  box-shadow: none;
  background: rgb(143, 0, 0);
}

/*--------------------works_hover--------------------*/

.works_btn {
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.works_btn::after {
  background: rgb(136, 134, 1);
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: .5s cubic-bezier(0.45, 0, 0.55, 1);
  z-index: -1;
}

.works_btn:hover::after {
  transform: scale(1, 1);
}

/*--------------------news_hover--------------------*/

.news_btn:hover {
  animation: shake 0.4s linear infinite;
  background: #00008b;
}

@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateY(-5px); }
  50% { transform: translateY(3px); }
  75% { transform: translateY(-5px); }
  100% { transform: translateX(0); }
}

/*--------------------contact_hover--------------------*/

.contact_btn:hover {
  background: #006400;
  transition: transform 2s;
  transform: rotate(-360deg);
}

/*--------------------insta_hover--------------------*/

.insta_btn {
  background: none;
}